/data
data/*
!tria/data
!tria/data/*

/runs
runs/*

/.gradio
.gradio/*

/manifests
!manifests/.gitkeep

**/..git/*
__pycache__/
.ipynb_checkpoints/
.DS_Store
._.DS_Store
.vscode/
*.egg-info/
.pytest_cache
*.ipynb_checkpoints
.venv/
*.pt
*.pth
OLD/